<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Success</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    </head>
    <body style="background-color:#f6b023;">
        <div class="container-md shadow-lg rounded mt-5" style="background-color:rgb(228, 227, 227); max-width:550px; min-height:120px;">
                <div class="row">
                    <div class="col-1 mt-4 container-md rounded-circle">
                        <img src="/static/icons/check-tick-icon-14166.png" width="40" height="35">
                    </div>
                    <div class="col mt-3 ml-1">
                            <h1>Thanks for placing order</h1>
                    </div>
                </div>
                
            <div class="col ml-1 mb-3 mr-2">
                <center><h2>{{orderId}}</h2></center>
            </div>
        </div>
    </body>
</html>